<h1> Sign in to access bookmarks </h1>
<form action="/login" method="post">
<label for="username">ID:</label>
<input type="text" name="username">
<label for="password">Password:</label>
<input type="password" name="password">
<input type="Submit" input value="Login">
</form>

Don't have an account?
<form action="/signup" method="get">
<input type="submit" value="Sign up">
</form>